{% extends "headeryfooter.html" %}

{% block content %}

<div class="container mt-4">
    <h1>Bienvenidos a CleanSwift</h1>
    <p class="mt-4">
        ¡Prepárate para los próximos descuentos del fin de semana! En CleanSwift, estamos emocionados de anunciar nuestras ofertas especiales que estarán disponibles muy pronto. Aprovecha esta oportunidad única para adquirir tus productos de limpieza favoritos a precios increíbles.
    </p>
    <p>
        Estamos preparando packs familiares y mayoristas para satisfacer todas tus necesidades de limpieza. Ya sea que necesites suministros para el hogar o grandes cantidades para tu negocio, nuestros packs están diseñados para ofrecerte el mejor valor por tu dinero.
    </p>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="https://informaticos.ar/content/images/2022/01/SIN-PROBLEMASmargen-ok-1.png" alt="Descuentos en productos de limpieza" class="img-fluid float-left mr-3" style="width: 100%;">
        </div>
        <div class="col-md-6">
            <p class="mt-5">
                No te pierdas nuestras promociones especiales y asegúrate de visitar nuestra tienda en línea este fin de semana. Con nuestros packs familiares y mayoristas, podrás mantener tus espacios limpios y frescos sin gastar de más.
            </p>
            <p>
                ¡Mantente atento a nuestras redes sociales y suscríbete a nuestro boletín para recibir las últimas actualizaciones y ofertas exclusivas!
            </p>
        </div>
    </div>
</div>

{% endblock %}
